In [1]:
import pandas as pd
import itertools
import numpy as np
from tqdm import tqdm
import risk

In [2]:
raw1 = pd.read_csv('./재식별된 데이터 (6).csv')
raw2 = pd.read_csv('./재식별된 데이터 (7).csv')

In [3]:
raw1

,Unnamed: 0,abst_row_num__,efc_yy,qf_grade_nm,wrdn_tot_grde,qf_itm_nm,zon_nm,cour_nm,wrdn_pas_div_nm,fnl_pas_yn
0,0,1,2015.0,2급 장애인스포츠지도사,55.0,태권도,NaN,NaN,NaN,NaN
1,1,2,NaN,2급 장애인스포츠지도사,NaN,NaN,NaN,NaN,필수과목누락,NaN
2,2,3,NaN,NaN,64.0,탁구,경기,NaN,NaN,NaN
3,3,4,NaN,NaN,60.0,사이클,인천,NaN,NaN,NaN
4,4,5,NaN,NaN,68.0,볼링,경기,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
30151,30151,262862,2021.0,유소년스포츠지도사,225.0,보디빌딩,NaN,NaN,NaN,NaN
30152,30152,262864,NaN,유소년스포츠지도사,315.0,자전거,NaN,NaN,NaN,NaN
30153,30153,262865,2021.0,유소년스포츠지도사,265.0,보디빌딩,NaN,NaN,NaN,NaN
30154,30154,262866,NaN,유소년스포츠지도사,295.0,당구,NaN,NaN,NaN,NaN
30155,30155,262869,2030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
raw2

,Unnamed: 0,abst_row_num__,efc_yy,qf_grade_nm,cour_nm,wrdn_tot_grde,wrdn_pas_div_nm,fnl_pas_yn,qf_itm_nm,zon_nm
0,0,1,2015.0,2급 장애인스포츠지도사,일반과정,55.0,NaN,NaN,태권도,NaN
1,1,2,2015.0,2급 장애인스포츠지도사,일반과정,59.0,필수과목누락,NaN,NaN,NaN
2,2,3,2015.0,2급 장애인스포츠지도사,NaN,64.0,NaN,NaN,탁구,경기
3,3,4,2015.0,2급 장애인스포츠지도사,일반과정,60.0,NaN,NaN,사이클,NaN
4,4,5,2015.0,2급 장애인스포츠지도사,NaN,68.0,NaN,NaN,볼링,경기
...,...,...,...,...,...,...,...,...,...,...
32804,32804,262862,2021.0,유소년스포츠지도사,일반과정,225.0,NaN,NaN,보디빌딩,NaN
32805,32805,262864,2021.0,유소년스포츠지도사,일반과정,315.0,NaN,NaN,자전거,NaN
32806,32806,262865,2021.0,유소년스포츠지도사,일반과정,265.0,NaN,NaN,보디빌딩,NaN
32807,32807,262866,2021.0,유소년스포츠지도사,일반과정,295.0,NaN,NaN,당구,NaN
32808,32808,262869,2030.0,신현,일반과정,320.0,합격,NaN,NaN,NaN

In [5]:
reidentified_evidence = pd.concat([raw1, raw2], axis=0)
reidentified_evidence

,Unnamed: 0,abst_row_num__,efc_yy,qf_grade_nm,wrdn_tot_grde,qf_itm_nm,zon_nm,cour_nm,wrdn_pas_div_nm,fnl_pas_yn
0,0,1,2015.0,2급 장애인스포츠지도사,55.0,태권도,NaN,NaN,NaN,NaN
1,1,2,NaN,2급 장애인스포츠지도사,NaN,NaN,NaN,NaN,필수과목누락,NaN
2,2,3,NaN,NaN,64.0,탁구,경기,NaN,NaN,NaN
3,3,4,NaN,NaN,60.0,사이클,인천,NaN,NaN,NaN
4,4,5,NaN,NaN,68.0,볼링,경기,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
32804,32804,262862,2021.0,유소년스포츠지도사,225.0,보디빌딩,NaN,일반과정,NaN,NaN
32805,32805,262864,2021.0,유소년스포츠지도사,315.0,자전거,NaN,일반과정,NaN,NaN
32806,32806,262865,2021.0,유소년스포츠지도사,265.0,보디빌딩,NaN,일반과정,NaN,NaN
32807,32807,262866,2021.0,유소년스포츠지도사,295.0,당구,NaN,일반과정,NaN,NaN
32808,32808,262869,2030.0,신현,320.0,NaN,NaN,일반과정,합격,NaN

In [7]:
reidentified_evidence = reidentified_evidence.drop_duplicates(subset ="abst_row_num__",keep="first")
reidentified_evidence

,Unnamed: 0,abst_row_num__,efc_yy,qf_grade_nm,wrdn_tot_grde,qf_itm_nm,zon_nm,cour_nm,wrdn_pas_div_nm,fnl_pas_yn
0,0,1,2015.0,2급 장애인스포츠지도사,55.0,태권도,NaN,NaN,NaN,NaN
1,1,2,NaN,2급 장애인스포츠지도사,NaN,NaN,NaN,NaN,필수과목누락,NaN
2,2,3,NaN,NaN,64.0,탁구,경기,NaN,NaN,NaN
3,3,4,NaN,NaN,60.0,사이클,인천,NaN,NaN,NaN
4,4,5,NaN,NaN,68.0,볼링,경기,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
32376,32376,260115,2021.0,2급 전문스포츠지도사,330.0,유도,NaN,NaN,합격,NaN
32395,32395,260291,2021.0,2급 전문스포츠지도사,305.0,수영,NaN,NaN,불합격,NaN
32425,32425,260732,2021.0,2급 전문스포츠지도사,335.0,양궁,NaN,NaN,합격,NaN
32490,32490,261496,2021.0,2급 전문스포츠지도사,325.0,승마,NaN,NaN,합격,NaN
32589,32589,262321,2021.0,유소년스포츠지도사,310.0,태권도,NaN,NaN,합격,NaN

In [11]:
reidentified_evidence=reidentified_evidence.drop(reidentified_evidence.columns[0:1], axis=1)
reidentified_evidence

,abst_row_num__,efc_yy,qf_grade_nm,wrdn_tot_grde,qf_itm_nm,zon_nm,cour_nm,wrdn_pas_div_nm,fnl_pas_yn
0,1,2015.0,2급 장애인스포츠지도사,55.0,태권도,NaN,NaN,NaN,NaN
1,2,NaN,2급 장애인스포츠지도사,NaN,NaN,NaN,NaN,필수과목누락,NaN
2,3,NaN,NaN,64.0,탁구,경기,NaN,NaN,NaN
3,4,NaN,NaN,60.0,사이클,인천,NaN,NaN,NaN
4,5,NaN,NaN,68.0,볼링,경기,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32376,260115,2021.0,2급 전문스포츠지도사,330.0,유도,NaN,NaN,합격,NaN
32395,260291,2021.0,2급 전문스포츠지도사,305.0,수영,NaN,NaN,불합격,NaN
32425,260732,2021.0,2급 전문스포츠지도사,335.0,양궁,NaN,NaN,합격,NaN
32490,261496,2021.0,2급 전문스포츠지도사,325.0,승마,NaN,NaN,합격,NaN
32589,262321,2021.0,유소년스포츠지도사,310.0,태권도,NaN,NaN,합격,NaN